header {
	height: 516px;
	background: url('../img/header__img.jpg') no-repeat center center; 
	/*background: url('../img/header_img.jpg') no-repeat center center fixed;*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
.body {
	background: #f9f9f9;
}
.header__logo {
	padding-top: 70px;
	text-align: center;
}
nav {
	margin-top: 110px;
	text-align: center;
}
.nav__menu {
	position: relative;
}
.nav__link {
	padding: 0 5px;
	color: white;
	font-family: "LeagueGothic", Arial, Georgia;
}
.nav__link--top {
	font-size: 24px;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
.nav__link--top:hover {
	border-bottom: 2px solid #edbfff;
}
.nav__submenu {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 244px;
	margin-top: -10px;
	margin-left: -122px;
	border: 1px solid rgba(30, 40, 45, 1);
	border-radius: 10px;
	background: rgba(54, 41, 62, 0.9);
}
.nav__subitem {
	border-top: 1px solid rgba(101, 83, 108, 1); 
	border-bottom: 1px solid rgba(73, 60, 80, 1); 
}
.nav__subitem:first-child {
	border-radius: 10px 10px 0 0;
}
.nav__subitem:first-child:hover .nav__sublink {
	border-radius: 10px 10px 0 0;
	background: rgba(54, 41, 62, 1);
}
.nav__subitem:last-child {
	border-radius: 0 0 10px 10px;
}
.nav__subitem:last-child:hover{
	border-radius: 0 0 10px 10px;
}
.nav__subitem:last-child:hover .nav__sublink--lastchild {
	background: rgba(54, 41, 62, 1);
}
.nav__sublink {
	display: block;
	height: 18px;
	padding: 9px 0 13px 0;
	color: white;
	font-family: "LeagueGothic", Arial, Georgia;
	font-size: 24px;
	line-height: 24px;
	text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);
}
.nav__sublink:hover {
	height: 16px;
	border-bottom: 2px solid #edbfff;
}
